{% extends 'base.html.twig' %}

{% block title %}Hello PokemonController!{% endblock %}

{% block body %}


<div class="example-wrapper container mt-5">
    <h1> Edit </h1>
    {{form(form)}}
    

</div>
{% endblock %}
